<div class="d-flex align-items-center justify-content-center">
    <h1>My_Basecamp</h1>
</div>

<div>
    <div>
        <% if @user %>
            Logged in as: <%= @user.email %>
        <% end %>
    </div>

    <!-- testing purposes - displays all user emails -->
    <% if @users %>
    <ul>
        <% @users.each do |userr| %>
        <li><%= userr.id %> - <%= userr.email %></li>
        <% end %>
    </ul>
    <% end %>

    <!-- method delete automatically transforms a GET request to DELETE request using JS, because web forms actually only support GET and POST -->
    <%= button_to "Logout", logout_path, method: :delete %> 
</div>