<div class="card shadow-lg mt-4">
  <div class="card-header bg-primary text-white">
    <h1 class="mb-0">Welcome to My App</h1>
  </div>

  <div class="card-body">
    <h2 class="mt-4">📖 Project Documentation</h2>
    <div class="border p-3 bg-light">
      <%= @readme_content %>
    </div>

    <% if Current.user %>
        <div class="mt-4">
        <%= link_to "View Projects", projects_path, class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>
