<!-- generalized flash message handling -->
<% flash.each do |key, message| %>
    <!-- possible to add extra displaytype definitions if, for example, you would want to display -info messages (blue) in some cases -->
    <% display_type = key == 'alert' ? 'danger' : 'success' %>
    <div class="alert alert-<%= display_type %> mt-4". role="alert">
    <%= message %>
    </div>
<% end %>
