<!-- the underscore at the start indicates that this is partial -->
<nav class="navbar" style="background-color: #e3f2fd;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <%= link_to "NavBar", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <!-- helper func so you don't have to manually change each entry if you want to change the link -->
                    <!-- the prefix written ir routes.rb (can be found thru "rails routes") and attaching _url or _path will return the link -->
                    <%= link_to "About", about_path, class: "nav-link" %>
                    <!-- <a class="nav-link" href="About">About</a> -->
                </li>
            </ul>
        </div>
    </div>
    </nav>
</nav>
